a {
  color: var(--black);
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.6rem 0;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
.exam .container{
  padding: 2rem 1rem;
}
button {
  outline: 0;
  cursor: pointer;
}
.btn {
  display: inline-block;
  padding: 0.55rem;
  font-weight: 600;
  border: none;
  margin: 0.4rem 0;
  letter-spacing: 1px;
}
.apply {
  background-color: var(--cyan);
  padding: 10px 15px !important;
  border-radius: 20px;
}
.apply:hover {
    color: var(--cyan);
    background-color: #fff;
}
.primary-btn {
  background: var(--cyan);
  color: #fff;
  font-weight: 400;
  border-radius: 2rem;
  padding: 0.55rem 1rem;
  transition: var(--transition);
  /* margin-top: 3rem; */
}
.primary-btn:hover {
  background: #0e80aa;
}

.text {
  color: var(--lightBlack);
  padding: 0.6rem 0;
}
.text-center {
  text-align: center;
  color: var(--lightBlack);
}

.lg-text {
  font-weight: 600;
  font-size: 1.2rem;
}
section {
  padding: 4rem 0;
}
.title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: var(--Roboto);
  /* text-align: center; */
}
.title h3 {
  text-transform: uppercase;
}
.title p {
  font-size: 1.5rem;
  width: 70%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.title-md h3 {
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 2rem;
  text-align: center;
}
.title-sm h3 {
  font-size: 1.5rem;
  text-align: left;
}
.line {
  background: var(--cyan);
  height: 3px;
  width: 120px;
  margin: 0 auto 1.5rem auto;
}

.submit-btn {
  width: auto;
  padding: 0.7rem 1rem;
  background: var(--cyan);
  color: #fff;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 2rem auto 0 auto;
  cursor: pointer;
  transition: var(--transition);
  font-family: var(--Roboto);
  font-size: 1rem;
}
.submit-btn:hover {
  background: #0e80aa;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* stopping transition during resizing */
.resize-transition-stopper * {
  transition: none !important;
}
